html	{
	scroll-behavior:smooth;
}
*	{
	box-sizing:border-box;
	padding: 0;
	margin: 0;
	}
	
.cartlogo 	{
			background:black;
			width:10%;
			margin:15px;
			margin-left:2px;
			padding:10px;
			text-align:center;
			font-size:1rem;
			color:white;
			cursor:pointer;
			font-weight:bold;
			BORDER:NONE;
			z-index:2;
			border-radius:10px;
			position:relative;

}

.selection	{
			display:flex;
			justify-content:center;
			align-items:center;
			margin: 20px;
}
.selection label	{
					font-size:1.7rem;
}
.selection select	{
					font-size: 1.2rem;
					margin: 5px;
					padding: 12px;
}
.selection select option	{
							margin: 15px;
}

.image-container, .other-container {
				 display:flex;
				 justify-content:center;
				 align-items:center;
				 flex-wrap:wrap;
				 width:100%;
}
.image-div	{
			display:block;
			width:20%;
			height:100%;
			margin:10px;
			background:lightblue;
			text-align:center;
			border-radius: 30px;
}
.image-div h1	{
				text-align:center;
				font-size: 2.2rem;
				padding:10px;
}
.image-div p	{
				font-size: 1.5rem;
				padding:10px;
}
.image-div img {
				width:90%;
				height:300px;
				border-radius: 30px;
				margin-top:15px;
}
.image-div h3	{
				font-size: 1.2rem;
				padding:10px;
}

.other-div	{
			display:none;
			position:fixed;
			top:0;
			bottom:0;
			width:100%;
			height:100vh;
			padding: 30px;
			background: rgba(0,0,0,0.8);
			text-align:center;
			color: white;
			font-weight:bold;
}
.other-div img	{
				width:50%;
				height:60%;
				border-radius: 30px;
				object-fit:fill;
				margin-top:35px;
}
.other-div button {
				display:flex;
				justify-content:center;
				align-items:center;
				margin:auto;
				padding:20px;
				margin-top:75px;
				font-size:2rem;
				width: 30%;
				background: black;
				color: white;
				border-radius: 10px;
}
.other-div button:hover, .cartlogo:hover {
			background: white;
			color: black;
			border:1px solid black;
			transition:.5s;
}
.other-div h1 {
				font-size:5rem;
}
.other-div p	{
				font-size: 1.5rem;
				padding:10px;
				line-height:40px;
}
.remove {
		position:absolute;
		right:30px;
		cursor:pointer;
}
.allprice {
			font-size:1.5rem;
			color:black;
			background:white;
}
.mainprice {
			font-size:2rem;
}
.besidediv {
			display:flex;
			flex-direction:column;
			align-items:center;
			width:20%;
			height:100vh;background:black;position:fixed;top:0;right:0;padding:5px;color:white;overflow:scroll;
}
.besidedivno {
			display:none;
}
.newDiv	{
		display:flex;
		flex-direction:column;
		justify-content:center;
		align-items:center;
		width:80%;
		height:250px;
		background:gray;
		color:white;
		border-radius:10px;	
		font-size:1.2rem;
		margin: 10px auto;
}
.newImg {
		width:70%;
		height:70%;
		border-radius:10px;
		margin-top:5px;
}
.newName	{
		margin:5px;
}
.newPrice	{
		font-weight:bold;
		margin:5px;
}
.footer	{
		position:fixed;display:flex;flex-direction:column;justify-content:center;align-items:center;
		bottom:10px;
		background:lightblue;
		width:18%;
		margin-bottom:10px;
}
.footer p {
	font-size:1.2rem;
	margin:5px;
}
.footer button {
		width:90%;
		background:white;
		padding:15px;
		font-size:1.1rem;
		border:none;
		margin-bottom:20px;
		margin-left:5px;
		font-weight:bold;
		transition: .5s;
		text-align:center;
}
.footer button:hover {
		letter-spacing:2px;
		background:black;
		color:white;
}
.footer p .am {
		color:red;
}

/*
@media only screen and (max-width:1280px)
 {
 }
*/



@media only screen and (max-width:1024px)
 {
.image-div	{
			width:40%;
}
.other-div img	{
				width:75%;
				height:40%;
				border-radius: 30px;
				object-fit:fill;
				margin-top:50px;
}
.other-div button {
				display:flex;
				justify-content:center;
				align-items:center;
				margin:auto;
				padding:20px;
				margin-top:70px;
				margin-bottom:10px;
				font-size:1.5rem;
				width: 70%;
}
.besidediv {
			width:30%;
}
.cartlogo 	{
			width:20%;
			font-size:1rem;
}
.footer {
	width:28%;
}
.footer button {
		margin-bottom:20px;
  }
 

 
 
 
 @media only screen and (max-width:768px)
 {
.image-div	{
				width:100%;		
}

.other-div	{
			display:none;
			position:fixed;
			top:0;
			bottom:0;
			width:100%;
			height:100vh;
			padding: 30px;
			background: rgba(0,0,0,0.8);
			text-align:center;
			color: white;
			font-weight:bold;
			box-sizing:border-box;
}
.other-div button {
				display:flex;
				justify-content:center;
				align-items:center;
				margin:auto;
				padding:20px;
				margin-top:70px;
				margin-bottom:10px;
				font-size:1.3rem;
				width: 50%;
}
.other-div img	{
				width:75%;
				height:40%;
				border-radius: 30px;
				object-fit:fill;
}
.cartlogo 	{
			width:20%;
			font-size:.8rem;
}
.besidediv {
			width:50%;
}
.footer {
		width:40%;
}
.footer button {
			width:90%;
		background:white;
		padding:10px;
		font-size:1rem;
		border:none;
		margin-bottom:20px;
		font-weight:bold;
		transition: .5s;
}
	}









